@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";
   
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* @font-face {
  font-family: "Bebas-Regular";
  src: url("./assets/Gotham-Font/FontsFree-Net-Bebas-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: Gotham-book;
  src: url("./assets/Gotham-Font/GothamBook.ttf") format("truetype");
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: "Poppins", sans-serif;
  /* color: #022F46; */
  color: #000;
}

p{
  font-size: 16px;
}

h2{
  font-size: 25px !important;
}


footer li {
  width:fit-content !important 
}
footer ul{  width:fit-content !important
 
}
footer div{  width:fit-content !important
 
}

footer h3{  width:fit-content !important
 
}

.gotham-font {
  /* font-family: Gotham-book;
  color: rgb(33, 37, 41); */
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.heading-font {
  /* font-family: "Bebas-Regular", sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize; */
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  /* font-family: gotham-book;
  font-size: 16px;
   */
   font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* <<<<<<<<<<<<<<<<<<< */

/* ---------- */
@keyframes bounce {
  0%,
  28%,
  70%,
  100% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  42% {
    transform: scale(1.1);
  }
}

.bounce {
  animation: bounce 2s infinite;
}

/* ------------------------ */

/* Nav Responsive */
.navResponsive {
  display: flex;
  justify-content: center;
  gap: 40px;
}

@media only screen and (max-width: 1419px) {
  .navResponsive {
    flex-direction: column;
    gap: 15px;
    justify-content: center;
  }
}

@media only screen and (max-width: 957px) {
  .belowNav {
    display: none;
  }
  .dropdownMenu {
    display: flex;
  }
  .navResponsive {
    flex-direction: row;
    justify-content: space-between;
  }
}
/* ------------ */

/* yah hover services ke liye hai */
.fff:hover {
  width: 380px;
  /* background-color: lightgray; */
  transition: all 0.9s ease, transform 0.9s ease;
  /* background-color: #AB47BC; */
}
@media only screen and (min-width: 1500px) {
  .second-fff:hover {
    width: 800px;
    /* transition: all 0.9s ease, transform 0.9s ease; */
    /* background-color: #AB47BC; */
  }
}
/*  */

/* Navbar css ------ */

@media only screen and (max-width: 1790px) {
  .bookAnAppointment {
    display: none;
  }
}
@media only screen and (max-width: 1570px) {
  .explorebtn {
    display: none;
  }
}

/* bookanappointmentbtn for desktop  */
@media only screen and (min-width: 1788px) {
  .bookanappointmentbtn {
    display: block;
  }
}

/* Navbar  */

/* Hero video */
@media only screen and (min-width: 1579px) {
  .heroVideo {
    /* height: 20rem; */
  }
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
/* Hero Video */

/* styles.css */
/* hover  cards css */
.containerBox {
  transition: all 0.5s ease-in-out; 
  min-height: 400px; 
  display: flex;
}
@media (min-width: 768px) {
  .containerBox {
    transition: all 0.5s ease-in-out; 
    min-height: 300px;

    
    width:100%;
    display: flex;
  }
}

.overlay-content-btn,
.overlay-content-image {
  transition: transform 0.5s ease-in-out;
}

.containerBox:hover .overlay-content-btn {
  transform: translateX(0);
}

.containerBox:hover button {
  bottom: 40px;
  right: 40px;
}
.containerBox:hover .btnn {
  display: none;
}
.containerBox:hover .overlay-content-image {
  transform: translateX(0);
}

/* .containerBox:hover {
  width: 500px;
} */

.containerBox:hover {
  width: 100%;
}

@media (min-width: 768px) {
  .containerBox:hover {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .containerBox:hover {
    width: 22rem;
  }
}

/* 1600px */

/* ------ */


 
/* hover card <<<<<<<<<<<<<<<------------------- */


/* Admin Sidebar Css */
.admin_sidebar{
  height: calc(100vh - 80px);
}
 

@media (max-width: 768px) { /* Mobile view */
 
    .containerBox { 
      min-height: 300px;
       
    } 
  

  .container-mar{
    margin-inline:13px !important; 
  }
  
  
  .container-mar-l{
    margin-left:13px !important; 
  }
  
  
  .container-mar-r{
    margin-right:13px !important; 
  }
  .container-pad{
    padding-inline:13px !important; 
  }
  
  .container-mar{
    margin-inline:13px !important; 
  }
  
  .container-pad-l{
    padding-left:13px !important; 
  }
  
  
  .container-pad-r{
    padding-right:13px !important; 
  }
}




.container-mar{
  margin-inline:130px;
}


.container-mar-l{
  margin-left:130px;
}


.container-mar-r{
  margin-right:130px;
}
.container-pad{
  padding-inline:130px;
}

.container-mar{
  margin-inline:130px;
}

.container-pad-l{
  padding-left:130px;
}


.container-pad-r{
  padding-right:130px;
}
.hello{
  border:solid 1px black;
}

.shadow-blue:hover{
  box-shadow: 5px 6px 2px 1px #043148;
}


.left-radius-border{
  border-top-left-radius: 12px;
border-bottom-left-radius: 12px;
}



.right-radius-border{
  border-top-right-radius: 12px;
border-bottom-right-radius: 12px;

}

.inline-border{
  /* border-left: 1px solid #80808030;   */
  border-right: 1px solid #80808030; 
}

.award-heading{
  font-size: 13px !important ;
}



/* hover  cards css */
.containerBox {
  transition: all 0.5s ease-in-out;
}

.overlay-content-btn,
.overlay-content-image {
  transition: transform 0.5s ease-in-out;
}

.containerBox:hover .overlay-content-btn {
  transform: translateX(0);
}

.containerBox:hover button {
  bottom: 40px;
  right: 40px;
}
.containerBox:hover .btnn {
  display: none;
}
.containerBox:hover .overlay-content-image {
  transform: translateX(0);
}

.containerBox:hover {
  width: 1900px;
}

/* 1600px */
@media only screen and (max-width: 1600px) {
  .containerBox {
    width: 300px;
  }
  .containerBox:hover {
    width: 400px;
  }
}

/* 1325px */
@media only screen and (max-width: 1325px) {
  .containerBox:hover {
    width: 300px;
  }
}
/* ------ */
@media only screen and (max-width: 1270px) {
  .main-hoverbox-container {
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: none;
  }

  .containerBox {
    width: 500px;
    box-shadow: 1px 1px 5px gray;
  }

  .containerBox:hover {
    width: 500px;
  }
}

/* ------- */
@media only screen and (max-width: 570px) {
  .containerBox {
    width: auto;
    height: auto;
  }
  .containerBox:hover {
    width: auto;
  }
}
/* hover card <<<<<<<<<<<<<<<------------------- */